* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #2e2f42;
  --secondary-color: #434455;
  --primary-text: #ffffff;
  --primary-text-light: #f4f4fd;
  --accent-color: #4d5ae5;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--secondary-color);
  background-color: var(--primary-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-weight: normal;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}

h1 {
  font-size: 56px;
  line-height: 60px;
  font-weight: 700;
}
h2 {
  font-size: 36px;
  line-height: 40px;
  font-weight: 700;
}
h3 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
}
h2,
h3 {
  color: var(--primary-color);
}
ul {
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 1.17;
  letter-spacing: 0.03em;
  font-size: 18px;
  font-weight: 700;
  color: var(--accent-color);
  margin-right: 76px;
}
.logo.inverted {
  color: var(--accent-color);
}
.logo-postfix {
  color: var(--primary-color);
}

.logo.inverted .logo-postfix {
  color: #f4f4fd;
}

.nav-list {
  display: flex;
  gap: 40px;
}

.nav-link {
  display: inline-block;
  text-decoration: none;
  color: var(--primary-color);
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: 0.02em;
  padding: 24px 0;
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.header-contacts {
  font-style: normal;
}

.contacts-list {
  display: flex;
  gap: 40px;
}

.header-contacts a {
  text-decoration: none;
  color: #434455;
  font-size: 16px;
  line-height: 24px;
}

.heading-section {
  background-color: var(--primary-color);
  color: var(--primary-text);
  text-align: center;
  padding: 188px 0;
}

.heading-section .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.heading-section-header {
  letter-spacing: 0.02em;
  line-height: 1.07;
  max-width: 496px;
}

.footer {
  background-color: var(--primary-color);
  color: var(--primary-text-light);
  padding: 100px 0;
}

.footer .logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}

.accent-button {
  background-color: var(--accent-color);
  color: var(--primary-text);
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: 0.04em;
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
}
.accent-button:hover,
.accent-button:focus {
  background-color: #404bbf;
}

.team-section {
  background-color: var(--primary-text-light);
}

.team-section p {
  font-size: 16px;
}

.section-header {
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.section-secondary-header {
  letter-spacing: 0.02em;
}
.services-section {
  padding: 120px 0;
}
.services-section-header {
  letter-spacing: 0.02em;
}

.services-list {
  display: flex;
  gap: 24px;
}

.services-list-item {
  width: calc((100% - 72px) / 4);
}

.services-list-item .section-secondary-header {
  margin-bottom: 8px;
}

.description {
  letter-spacing: 0.02em;
  color: var(--secondary-color);
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.team-section {
  padding: 120px 0;
}

.team-section .section-header {
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-member {
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-member-info {
  padding: 32px 0;
}

.team-member-info .section-secondary-header {
  text-align: center;
  margin-bottom: 8px;
}

.team-member-info .description {
  text-align: center;
}

.portfolio-section {
  padding: 120px 0;
}

.portfolio-section .section-header {
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  column-gap: 24px;
  row-gap: 48px;
  flex-wrap: wrap;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
}

.portfolio-item-info {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-item-info .section-secondary-header {
  margin-bottom: 8px;
}

.team-section h2,
.portfolio-section h2 {
  text-align: center;
}
.team-section li {
  background-color: var(--primary-text);
}

.team-section p,
.portfolio-section p {
  color: var(--secondary-color);
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
