<section class="section lessons" id="lessons">
    <div class="container">
        <h2 class="lessons__title-lg">Our <span class="lessons__title-lg-green-underline">lessons</span></h2>
        <p class="lessons__text-main">
            Our lessons are carefully structured and interactive, designed to promote rapid language acquisition through
            practical tasks and real-world scenarios
        </p>
        <ul class="lessons__card-list">
            
        </ul>
    </div>
</section>
