<section class="section about" id="about">
    <div class="container">
        <div class="section-header">
            <h2 class="section-title">
                About <span class="underline">Us</span>
            </h2>
            <p class="section-description">
                We are dedicated to providing engaging and effective English
                language courses in a supportive and stimulating learning
                environment
            </p>
        </div>

        <div class="about-content">
            <ol class="about-list">
                <li class="about-item">Expert, innovative teaching staff</li>
                <li class="about-item">
                    Wide range of course levels and options
                </li>
                <li class="about-item">Multicultural learning environment</li>
                <li class="about-item">
                    Comprehensive language support services
                </li>
            </ol>

            <div class="about-item about-image-item">
                <img
                    alt="Memoji"
                    src="./img/about/about-1x.webp"
                    srcset="
                        ./img/about/about-1x.webp 1x,
                        ./img/about/about-2x.webp 2x
                    "
               />
            </div>
        </div>
    </div>
</section>
