<section class="section feedback" id="feedback">

    <div class="container">

        <div class="feedback-title">

            <h2 class="feedback-head">What our <span class="underline">students</span> say</h2>

            <p class="subtitle">
                Hear from our students about their learning journey with us, as they share their experiences, progress,
                and the transformative impact
            </p>

            <ul class="feedback-list">

                <li class="feedback-card">

                    <div class="feedback-info">

                        <div class="feedback-photo">

                            <img srcset="../img/testimonials/img-1.jpg x1, ../img/testimonials/img-1@2x.jpg 2x"
                                src="../img/testimonials/img-1.jpg" alt="anna-photo">

                        </div>

                        <div class="student-info">

                            <h3 class="student-name">Anna</h3>

                            <p class="student-position">Student</p>

                        </div>
                    </div>

                    <p class="student-feedback">

                        My experience at the language school has been nothing short of amazing.
                        The
                        teachers are
                        dedicated and the learning environment is stimulating. I feel more confident in my English
                        skills.

                    </p>

                </li>

                <li class="feedback-card">

                    <div class="feedback-info">

                        <div class="feedback-photo">

                            <img srcset="../img/testimonials/img-2.jpg x1, ../img/testimonials/img-2@2x.jpg 2x"
                                src="../img/testimonials/img-2.jpg" alt="mykhailo-photo">

                        </div>

                        <div class="student-info">

                            <h3 class="student-name">Mykhailo</h3>

                            <p class="student-position">Student</p>

                        </div>
                    </div>

                    <p class="student-feedback">

                        The school offers a great balance of language theory and practical
                        exercises.
                        The
                        personalized feedback from the teachers has helped me improve my weak areas.

                    </p>

                </li>

                <li class="feedback-card">

                    <div class="feedback-info">

                        <div class="feedback-photo">

                            <img srcset="../img/testimonials/img-3.jpg x1, ../img/testimonials/img-3@2x.jpg 2x"
                                src="../img/testimonials/img-3.jpg" alt="victoria-photo">

                        </div>

                        <div class="student-info">

                            <h3 class="student-name">Victoria</h3>

                            <p class="student-position">Student</p>

                        </div>
                    </div>

                    <p class="student-feedback">

                        I love the dynamic and interactive teaching methods used here. It's a
                        great
                        place to
                        learn English in a fun and effective way. I have definitely seen a big improvement in my
                        language skills.

                    </p>
                </li>
            </ul>
        </div>
    </div>
</section>