<header class="section header" id="header">
    <div class="container">
        <p class="header-logo">english<span class="header-logo_accent">excellence</span>.</p>
        <load src="/partials/nav.html"/>

        <button type="button" aria-label="Open menu" class="burger-menu" id="burger-btn" onclick="toggleMenu()">
            <span class="burger-line burger-line-1"></span>
            <span class="burger-line burger-line-2"></span>
            <span class="burger-line burger-line-3"></span>
        </button>
    </div>
</header>
