<section class="section team" id="teachers">
    <div class="container">
        <div class="team-title">
            <h2 class="section-title">
                Meet our <span class="underline">teachers</span>
            </h2>
            <p class="section-description">
                Discover our team of dedicated educators, committed to guiding
                you on your journey to English proficiency with personalized and
                engaging instruction
            </p>
        </div>

        <ul class="team-list card-set">
            <li class="team-item card-set-item">
                <img
                    src="./img/teachers/maria-1x.webp"
                    alt="maria"
                    srcset="
                        ./img/teachers/maria-1x.webp 1x,
                        ./img/teachers/maria-2x.webp 2x
                    "
                    width="150"
                    height="150"
                    class="team-photo"
               />
                <div class="team-text">
                    <h2 class="team-name">Maria</h2>
                    <p class="team-info">
                        A seasoned linguist and our primary specialist in
                        beginner-level instruction, Maria brings warmth and
                        patience to every class
                    </p>
                </div>
            </li>
            <li class="team-item card-set-item">
                <img
                    src="./img/teachers/artem-1x.webp"
                    alt="artem"
                    srcset="
                        ./img/teachers/artem-1x.webp 1x,
                        ./img/teachers/artem-2x.webp 2x
                    "
                    width="150"
                    height="150"
                    class="team-photo"
               />
                <div class="team-text">
                    <h2 class="team-name">Artem</h2>
                    <p class="team-info">
                        With his innovative teaching techniques and a focus on
                        interactive learning, Artem excels in keeping students
                        engaged and motivated
                    </p>
                </div>
            </li>
            <li class="team-item card-set-item">
                <img
                    src="./img/teachers/ilona-1x.webp"
                    alt="ilona"
                    srcset="
                        ./img/teachers/ilona-1x.webp 1x,
                        ./img/teachers/ilona-2x.webp 2x
                    "
                    width="150"
                    height="150"
                    class="team-photo"
               />
                <div class="team-text">
                    <h2 class="team-name">Ilona</h2>
                    <p class="team-info">
                        A specialist in advanced English, Ilona provides
                        intensive instruction, ensuring students gain confidence
                        in complex language tasks
                    </p>
                </div>
            </li>
            <li class="team-item card-set-item">
                <img
                    src="./img/teachers/volodymyr-1x.webp"
                    alt="volodymyr"
                    srcset="
                        ./img/teachers/volodymyr-1x.webp 1x,
                        ./img/teachers/volodymyr-2x.webp 2x
                    "
                    width="150"
                    height="150"
                    class="team-photo"
               />
                <div class="team-text">
                    <h2 class="team-name">Volodymyr</h2>
                    <p class="team-info">
                        Our expert in English for specific purposes, Volodymyr
                        tailors his approach to meet individual career and
                        industry-specific language needs
                    </p>
                </div>
            </li>
        </ul>
    </div>
</section>
