<section class="section team" id="teachers">
    <div class="container">
        <div class="team-title">
            <h2 class="team-head">Meet our <span class="mark">teachers</span></h2>
            <p class="subtitle">
                Discover our team of dedicated educators, committed to guiding you on your journey to English
                proficiency with personalized and engaging instruction
            </p>
        </div>

        <ul class="team-list">
            
        </ul>
    </div>
</section>
