.feedback .container {
    display: flex;
    flex-direction: column;
}

.feedback-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.feedback-card {
    display: none;
    flex-direction: column;
    row-gap: 20px;

    padding: 20px 20px 40px;
    border-radius: 16px;
    background-color: var(--color-gray);
}

.feedback-info {
    display: flex;
    align-items: center;
    height: 78px;
    padding: 14px;
    column-gap: 8px;

    border-radius: 8px;
    background-color: var(--color-green);
}

.feedback-photo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.feedback-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.student-info {
    display: flex;
    flex-direction: column;
    row-gap: 2px;

    color: var(--color-white);
}

.student-name {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.02px;
}

.student-position {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    opacity: 0.5;
}

.student-feedback {
    font-size: var(--font-size-14);
    line-height: 24px;
    opacity: 0.5;
}

@media screen and (max-width: 767px) {
    .feedback-card:first-child {
        display: flex;
    }
}

@media screen and (min-width: 768px) {
    .feedback-list {
        flex-direction: row;
        justify-content: center;
        align-items: stretch;
        gap: 32px;
    }

    .feedback-card:nth-child(-n + 2) {
        /* Показуємо тільки перші дві картки */
        display: flex;
        flex: calc((100% - 32px) / 2);
        max-width: 336px;

        padding: 32px 16px 40px;
        border-radius: 30px;
    }
}

@media screen and (min-width: 1280px) {
    .feedback-list {
        width: 1024px;
    }

    .feedback-card {
        display: flex;
        flex: calc((100% - 32px) / 2);
        max-width: 320px;

        padding: 32px 16px 40px;
        border-radius: 30px;
    }
}

.feedback-item-photo {
    display: block;
    max-width: 100%;
}