@import url('./variables.css');
@import url('./common.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./cta.css');
@import url("./about.css");
@import url("./application.css");
@import url("./lessons.css");
@import url("./team.css");
@import url('./mobile-menu.css');
@import url('./footer.css');
@import url('./feedback.css');